.home {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 80%;

}

h1 {
    display: flex;
    padding: 15px;
}

.box {
    display: flex;
    padding: 15px;
    font-weight: bolder;
}

.dropdown {
    display: flex;
    padding: 15px;
    height: 40px;
    ;
}

select {
    width: 100%;
}

.date {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 40px
}

input {
    width: 80%;
}

.time {
    display: flex;
    font-weight: bolder;
    color: rgb(33, 81, 224);
    justify-content: center;
    align-items: center;
    width: 20%;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: gray 1px solid;
}

button1 {
    border: gray 1px solid;
    padding: 10px;
    margin: 10px;
}

button2 {
    border: gray 1px solid;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: rgb(38, 137, 231);
}