.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px black solid;
}

.main-content {
    padding: 30px;
}

h1 {
    padding: 0px 15px;
}

.container-item-title {
    padding: 15px;
    font-weight: bolder;
}

.nickname-selector-conatiner {
    display: flex;
    flex-direction: column;
}

.nickname-selector {
    padding: 0px 10px;
    margin: 15px;
    height: 40px;
}

.nickname-selector option[value=""][disabled] {
    display: none;
}

.date-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

input {
    padding: 0px 15px;
    height: 40px;
    width: 90%;
}

span {
    font-weight: bolder;
    color: rgb(33, 81, 224);
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: gray 1px solid;
}

button1 {
    border: gray 1px solid;
    padding: 10px;
    margin: 10px;
}

button2 {
    border: gray 1px solid;
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: rgb(38, 137, 231);
}